#MessageBubble[status="me"] {
    background-color: #ADD8E6;
    border-radius: 8px;
}
#MessageLabel[status="me"] {
	background-color: #ADD8E6;
}

#MessageBubble[status="contact"] {
    background-color: #D3D3D3;
    border-radius: 8px;
}
#MessageLabel[status="contact"] {
	background-color: #D3D3D3;
}
QComboBox QAbstractItemView {
    min-width: 200px;
}

